<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1> <% if @user.logged_in? %>
          <%= @user.user_name %>
        <% end %>
    </h1>
    
    <input type="submit" name="" value=<%= @user.logged_in? ? "Logout" : "Login" %>>
    <%= yield %>
  </body>
</html>